/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2042 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  /* Background slider */
  #hero-2042{overflow:hidden;position:relative}
  #hero-2042 .bg-slider{position:absolute;inset:0;z-index:0}
  #hero-2042 .bg-slider::after{content:"";position:absolute;inset:0;background:rgba(0,0,0,.45);z-index:0}
  #hero-2042 .bg-slide{position:absolute;inset:0;background-size:cover;background-position:center;opacity:0;transition:opacity 1.2s ease-in-out;z-index:-1}
  #hero-2042 .bg-slide.active{opacity:1}
  #hero-2042 .cs-container{position:relative;z-index:3}
  #hero-2042 .cs-content .cs-topper {
    color: var(--text-muted-inverted);

  }
  #hero-2042 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    /* turned off pointer events on the container so the video stops when you click on the background as well */
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 120px - 465px */
    gap: clamp(7.5rem, 24vw, 29.0625rem);
  }
  #hero-2042 .cs-content {
    text-align: center;
    width: 100%;
    /* changes to 564px on tablet */
    max-width: 20.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
  }
  #hero-2042 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    color: var(--text-inverted);
  }
  #hero-2042 .cs-text {
    margin-bottom: 2rem;
    color: var(--text-muted-inverted);
  }
  #hero-2042 .cs-button-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-2042 .cs-play {
    /* 80px - 120px */
    width: clamp(5rem, 14vw, 7.5rem);
    height: clamp(5rem, 14vw, 7.5rem);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transition: opacity 0.3s, transform 0.3s;
    backdrop-filter: blur(8px);
    flex: none;
  }
  #hero-2042 .cs-play.cs-hide {
    opacity: 0;
    transform: scale(0);
  }
  #hero-2042 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: var(--primary);
    pointer-events: auto;
    color: var(--bodyTextColorWhite);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-2042 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2042 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2042 .cs-video-wrapper {
    width: 100%;
    /* changes to 90% at tablet, then back to 100% at desktop */
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2042 .cs-video-wrapper:hover {
    cursor: pointer;
  }
  #hero-2042 .cs-video-wrapper video,
  #hero-2042 .cs-video-wrapper .cs-picture {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2042 .cs-video-wrapper video img,
  #hero-2042 .cs-video-wrapper .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  #hero-2042 .cs-video-wrapper:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 16.54%, rgba(0, 0, 0, 0.64) 59.41%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2042 .cs-container {
    padding-right: 6.25rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  #hero-2042 .cs-content {
    text-align: left;
    max-width: 35.25rem;
    align-items: flex-start;
  }
  #hero-2042 .cs-video-wrapper::before {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 51.02%, rgba(0, 0, 0, 0.64) 75.13%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1329 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-1329 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  
  #services-1329 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    gap: 1rem;
  }
  #services-1329 .cs-title {
    max-width: 20ch;
  }
  #services-1329 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1329 .cs-item {
    list-style: none;
    width: 100%;
    /* 300px - 380px */
    height: clamp(18.75rem, 50vw, 23.75rem);
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    text-align: left;
    box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
    grid-column: span 12;
    z-index: 1;
    border-radius: 1rem;
  }
  #services-1329 .cs-item:hover .cs-picture::after {
    opacity: 1;
    border-radius: 1rem;
  }
  #services-1329 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
    border-radius: 1rem;
  }
  #services-1329 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1329 .cs-item:hover .cs-number {
    opacity: 1;
    top: clamp(1.25rem, 2.3vw, 2rem);
  }
  #services-1329 .cs-item:hover .cs-arrow {
    opacity: 0.12;
    bottom: 50%;
    transform: translateY(50%);
  }
  #services-1329 .cs-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
  }
  #services-1329 .cs-link::after {
    /* hover overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
    transition: opacity 0.3s;
    border-radius: 1rem;
  }
  #services-1329 .cs-number {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
    font-weight: bold;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s, top 0.3s;
  }
  #services-1329 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
    text-align: inherit;
  }
  #services-1329 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--text-muted-inverted);
  }
  #services-1329 .cs-picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1rem;
  }
  #services-1329 .cs-picture:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1329 .cs-picture:after {
    /* background color overlay on hover */
    content: "";
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-1329 .cs-picture img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #services-1329 .cs-arrow {
    width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1329 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    gap: 2.5rem;
  }
  #services-1329 .cs-text {
    width: 50%;
  }
  #services-1329 .cs-title {
    margin: 0;
  }
}
/* Desktop - 900px */
@media only screen and (min-width: 56.25rem) {
  #services-1329 .cs-container {
    max-width: 80rem;
  }
  #services-1329 .cs-item {
    height: 30rem;
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1329 .cs-title,
  body.dark-mode #services-1329 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1329 .cs-text,
  body.dark-mode #services-1329 .cs-item-text {
    opacity: 0.8;
  }
}
    
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1206 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #sbs-1206 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    #sbs-1206 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
        z-index: 10;
        /* line-height: 3em; */
    }
    #sbs-1206 .cs-text {
        margin-bottom: 1rem;
        line-height: 2em;
    }
    #sbs-1206 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-1206 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 1rem;
        color: var(--text-muted);
    }
    #sbs-1206 .cs-content-flair {
        width: 100%;
        margin: 0 0 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 2rem;
        column-gap: 1.25rem;
    }
    #sbs-1206 .cs-ul {
        width: 100%;
        margin: 0;
        padding-left: 1.25rem;
        /* prevents padding from affecting width and height */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #sbs-1206 .cs-li {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        list-style: none;
        text-align: left;
        width: 100%;
        max-width: 25rem;
        margin: 0;
        color: var(--text-muted);
        position: relative;
    }
    #sbs-1206 .cs-li:before {
        /* bullet */
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.9375rem;
    }
    #sbs-1206 .cs-video-link {
        width: 100%;
        /* changes to 160px at desktop */
        height: 12.5rem;
        background-color: #000;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    #sbs-1206 .cs-video-link:hover .cs-video-bg {
        transform: scale(1.2);
        opacity: 0.5;
    }
    #sbs-1206 .cs-video-link:hover .cs-wrapper {
        transform: scale(1.2);
    }
    #sbs-1206 .cs-video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition:
            transform 0.6s,
            opacity 0.3s;
    }
    #sbs-1206 .cs-wrapper {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
        border: 2px solid #e8e8e8;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.75s;
    }
    #sbs-1206 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--bodyTextColorWhite);
        min-width: 12.5rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #sbs-1206 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #sbs-1206 .cs-button-solid:hover {
        color: #fff;
    }
    #sbs-1206 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbs-1206 .cs-image-group {
        width: 100%;
        max-width: 49.5625rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        z-index: 1;
    }
    #sbs-1206 .cs-picture {
        /* width 100% so we can match the border radius with the circle graphic easier */
        width: 100%;
        max-width: 28.75rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #sbs-1206 .cs-picture img {
        width: 100%;
        height:100%;
        object-fit: contain;
        border-radius: 1rem;

    }
    #sbs-1206 .cs-graphic {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    #sbs-1206 .cs-box {
        /* 16px - 32px top & bottom */
        /* 16px - 24px */
        padding: clamp(1rem, 2.9vw, 2rem) clamp(1rem, 2.7vw, 1.5rem);
        background-color: #fff;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        /* 85px - 200px */
        top: clamp(5.3125rem, 12vw, 12.5rem);
        right: 0;
    }
    #sbs-1206 .cs-box-icon {
        /* 24px - 40px */
        width: clamp(1.5rem, 4vw, 2.5rem);
        height: auto;
        margin: 0 0 0.75rem;
        display: block;
    }
    #sbs-1206 .cs-box-header {
        /* 14px - 20px */
        font-size: clamp(0.875rem, 3vw, 1.25rem);
        font-weight: 700;
        line-height: 1.2em;
        margin: 0 0 0.75rem;
        color: var(--primary);
    }
    #sbs-1206 .cs-box-ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }
    #sbs-1206 .cs-box-li {
        list-style: none;
        /* 12px - 14px */
        font-size: clamp(0.75rem, 2vw, 0.875rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #sbs-1206 .cs-stat {
        /* 20px - 32px top & bottom */
        /* 12px - 24px */
        padding: clamp(1.25rem, 3vw, 2rem) clamp(0.75rem, 3vw, 1.5rem);
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        /* 40px - 120px */
        bottom: clamp(2.5rem, 7vw, 6.25rem);
    }
    #sbs-1206 .cs-ring-wrapper {
        /* 80px - 100px */
        width: clamp(5rem, 10vw, 6.25rem);
        position: relative;
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
    }
    #sbs-1206 .cs-number {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 3vw, 1.5625rem);
        font-weight: 900;
        /* prevents mouse from interacting with it */
        pointer-events: none;
        line-height: 1.2em;
        color: var(--bodyTextColorWhite);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    #sbs-1206 .cs-header {
        /* 16px - 20px */
        font-size: clamp(1rem, 2.1vw, 1.25rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem;
        color: var(--bodyTextColorWhite);
    }
    #sbs-1206 .cs-desc {
        /* 12px - 14px */
        font-size: clamp(0.75rem, 1.4vw, 0.875rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #sbs-1206 .cs-ring {
        --ring-width: 3px;
        width: calc(100% - var(--ring-width));
        aspect-ratio: 1;
        overflow: visible;
        pointer-events: none;
        rotate: -90deg;
        scale: 1 -1;
    }
    #sbs-1206 .cs-ring circle {
        fill: none;
        stroke: #f7f7f7;
        stroke-width: var(--ring-width);
    }
    #sbs-1206 .cs-ring circle {
        stroke: var(--secondaryLight);
        stroke-linecap: round;
        stroke-dasharray: calc(var(--ratio) * 314%) 314%;
        transition: stroke-dasharray 1s;
    }
    #sbs-1206 .cs-stat:hover .cs-ring {
        --ratio: 0 !important;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1206 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #sbs-1206 .cs-content {
        width: 45%;
    }
    #sbs-1206 .cs-ul {
        width: 45%;
        max-width: 15.125rem;
    }
    #sbs-1206 .cs-video-link {
        width: 50%;
        max-width: 17.5rem;
        height: 10rem;
    }
    #sbs-1206 .cs-image-group {
        width: 50%;
        margin-top: auto;
        /* same exact clamp as the sectionPadding variable */
        /* margin-bottom: calc(clamp(3.75rem, 7.82vw, 6.25rem) * -1); */
        left: 0;
    }
    #sbs-1206 .cs-picture {
        /* changes to 719px at large desktop */
        width: 90%;
        max-width: 32.625rem;
    }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #sbs-1206 .cs-image-group {
        width: 44.9375rem;
        left: -5.625rem;
    }
    /* #sbs-1206 .cs-picture {
        width: 44.9375rem;
        height: 49.5625rem;

    } */
    /* #sbs-1206 .cs-picture img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;

    } */
    #sbs-1206 .cs-graphic {
        width: 59.375rem;
        top: -6.25rem;
    }
}

                            
                                
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs-r .cs-picture {
    border-radius: 1rem;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    right: 0;
    top: 0;
  }
  #sbs-r .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    left: 0;
    bottom: 0;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs-r .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--text);
    position: relative;
  }
  #sbs-r .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 2em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--text-muted);
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-r .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }

  #sbs-r .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right */
    order: 2;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}

                                
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #reviews {
    /* Centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }
  #reviews .cs-container {
    width: 100%;
    max-width: 69rem;
    margin: auto;
  }
  #reviews .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--text-muted);
    margin-bottom: 1rem;
    display: block;
  }
  #reviews .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 1rem;
    color: var(--text);
    position: relative;
  }
  #reviews .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    color: var(--text-muted);
  }
  #reviews .cs-card-group {
    padding: 0;
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
  }
  #reviews .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 33.875rem;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: var(--bg-light);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
  }
  #reviews .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--text-muted);
    border-bottom: 1px solid #E8E9EC;
  }
  #reviews .cs-reviewer {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0 auto 0 0;
    display: block;
    color: var(--text-muted);
  }
  #reviews .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--label);
    display: block;
  }
  #reviews .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("../images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
